@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #2563eb;
  --indigo: #4f46e5;
}

.progress {
  animation: w 3s ease;
}

@keyframes w {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mygrid {
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.text-gradient {
  background: linear-gradient(to right, var(--indigo), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease;
}

.text-gradient:hover {
  background: linear-gradient(to right, var(--blue), var(--indigo));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  padding: 0 5rem;
  padding-top: 2rem;
  min-height: 100vh;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 640px) {
  .mygrid {
    grid-template-columns: auto;
  }

  .section {
    height: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 0 3rem;
  }
}
